body {
    background-image: url(kepek/ht9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-image: url(kepek/nagykep.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cim {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#cim h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.kiskep {
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 30px;
}

p {
    font-size: 1.1rem;
    text-align: justify;
}

ul {
    font-size: 1.1rem;
}

#alapelv{
    padding-left: 25px;
    padding-right: 25px;
}

#lab{
    background-color: #30934d;
    padding: 0.1rem 1.5rem;
}

#labszoveg{
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: #30934d;
    padding: 1rem 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;
}

.navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white !important;
}

.navbar-brand img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.navbar-brand:hover img {
    transform: rotate(20deg) scale(1.2);
}

.nav-link {
    color: white !important;
    font-weight: 500;
    position: relative;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link:hover {
    color: #f1f1f1 !important;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.xanimacio .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.xanimacio .bar2 {opacity: 0;}
  
.xanimacio .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}