body {
    background-image: url(kepek/ht9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #30934d;
}

.nav-link, .navbar-brand {
    color: black;
}

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

header{
    background-image: url(kepek/nagykep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    max-width: 100%;
}

p{
    font-size: 20px;
    text-align: justify;
}

#cim{
    text-align: center;
    background-color: rgba(196, 171, 99, 0.4);
    border-radius: 15px 50px;;
    max-width: 40%;
    margin: auto;
}

.kiskep{
    display: block;
    margin: auto;
    max-width: 70%;
    padding-top: 75px;
}
