body {
    background-image: url(kepek/ht9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #30934d;
}

.nav-link, .navbar-brand {
    color: black;
}

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

#headerkep {
    display: block;
    margin: auto;   
}